XML_XSD_PARSING/src/main/resources/medicines.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.example.org/medicins"
        xmlns:tns="http://www.example.org/medicins"
        elementFormDefault="qualified">

    <element name="medicins">
        <complexType>
            <sequence>
                <element ref="tns:medicine" minOccurs="16" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>

    <element name="medicine" type="tns:common-medicine" abstract="true"/>
    <element name="tables" type="tns:tablet" substitutionGroup="tns:medicine"/>
    <element name="capsules" type="tns:capsule" substitutionGroup="tns:medicine"/>
    <element name="powder" type="tns:powder" substitutionGroup="tns:medicine"/>
    <element name="drops" type="tns:drop" substitutionGroup="tns:medicine"/>

    <complexType name="common-medicine">
        <sequence>
            <element name="name-of-medicine" type="string"/>
            <element name="group-of-medicine" type="string"/>
            <element name = "manufacturer" type="tns:manufacturer"/>
            <element name = "analogs" type="string"/>
            <element name = "certificate" type="tns:certificate"/>
            <element name = "package" type="tns:package"/>
            <element name = "dosage" type="tns:dosage"/>
        </sequence>
    </complexType>

    <complexType name="tablet">
        <complexContent>
            <extension base="tns:common-medicine"/>
            <sequence>
                <element name = "form-of-medicine" type="tns:version-of-medicine"/>
            </sequence>
        </complexContent>
    </complexType>


    <complexType name="version-of-medicine">
        <element name ="form-of-medicine" type="string">
            <resitriction base="string">
                <enumeration value="tablet"/>
                <enumeration value="capsule"/>
                <enumeration value="powder"/>
                <enumeration value="drops"/>
            </resitriction>
        </element>
    </complexType>

    <simpleType name="manufacturer">
        <restriction base="string">
            <enumeration value="USA"/>
            <enumeration value="Canada"/>
            <enumeration value="Russia"/>
            <enumeration value="China"/>
        </restriction>
    </simpleType>

    <simpleType name="certificate">
        <element name="date-of-issue"/>
        <attribute name="id" type="tns:certificateID" use="required"/>
        <attribute name="country-of-registration" type="string" use="optional"/>
    </simpleType>

    <complexType name="package">
        <sequence>
            <element name="type-of-package" type="string">
                <simpleType>
                    <restriction base="string">
                        <minLength value="5"/>
                        <maxLength value="50"/>
                    </restriction>
                </simpleType>
            </element>
            <element name = "amount-of-medicine" type="nonNegativeInteger"/>
            <element name = "price" type="nonNegativeInteger"/>
        </sequence>
    </complexType>

    <complexType name="dosage">
        <sequence>
            <element name ="dosage-of-medicine" type="nonNegativeInteger"/>
            <element name = "frequency-of-admission" type="nonNegativeInteger"/>
        </sequence>
    </complexType>

        <simpleType name="certificateID">
            <restriction base="ID">
                <pattern value="\d{1,20}"/>
            </restriction>
        </simpleType>
</schema>
